@{
    ViewData["Title"] = "Home";
}

<main>
    <h1>How to use this web-resource: </h1>
    <ul>
        <li>
            <a text-dark" asp-controller="App" asp-action="Flats">Flats</a> - shows and give an access to control to the list of flat in the system.
        </li>
        <li>
            <a text-dark" asp-controller="App" asp-action="Meters">Meters</a> - shows and give an access to control to the list of meters in the system.
        </li>
        <li>
            <a text-dark" asp-controller="App" asp-action="MeterReplacementHistory">History</a> - shows the list of meter replacement history in chosen flat.
        </li>
    </ul>
</main>